.container-offert {
  border-bottom: 1px #3C2A18 solid;
  border-top: 1px #3C2A18 solid;
}

.before-after {
  width: 1122px;
  margin: 0 auto;
  padding: 84px 0px 106px 0;
}

.before-after-text-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 47px;
}

.before-after-text-box div {
  display: flex;
  align-items: start;
}

.before-after-text-box button {
  background: transparent;
  border: 1px #3C2A18 solid;
  padding: 10px 22px;
  font-size: 16px;
}

.before-after-text-box p {
  width: 368px;
  margin-right: 55px;
}
