.container__header-hero {
  position: relative;
}

.container__header-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .1;
  z-index: -3;
  background-image: url("../../assets/texture_background.png");
}

.container__header-hero::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1122px;
  height: 100%;
  z-index: -2;
  background-image: url("../../assets/line_background.svg");
  background-position: center;
  background-size: contain;
}

header {
  display: flex;
  align-items: center;
  padding: 8px 0;
  max-width: 1122px;
  margin: 0 auto;
}

a {
  font-size: 16px;
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar-cta-button {
  background: transparent;
  border: 1px #3C2A18 solid;
  padding: 10px 22px;
  font-size: 16px;
}

header nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desktop-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mobile-nav {
  display: none;
}

.mobile-nav nav {
  position: absolute;
  top: 60px;
  right: 20px;
  width: fit-content;
  background: #F3E9E0;
  padding: 20px 20px;
}

.mobile-nav li {
  margin-bottom: 14px;
}

.mobile-nav li:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 1200px)  {
  header {
    padding: 8px 20px;
  }
}

@media only screen and (max-width: 770px)  {
  .mobile-nav {
    display: block;
    cursor: pointer;
  }
  .mobile-nav nav {
    display: none;
  }
  .desktop-nav {
    display: none;
  }
}