.offert {
  display: flex;
  width: 1122px;
  margin: 0 auto;
}

.offert-container {
  position: relative;
  background: white;
}

.offert-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #B1715F;
  opacity: 0.2;
}

.offert-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .1;
  z-index: 1;
  background-image: url("../../assets/texture_background.png");
}

.offert-left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 99px;
}

.offer-box {
  display: flex;
  align-items: start;
}

.offer-box:nth-child(1),
.offer-box:nth-child(2) {
  border-bottom: 1px solid #3C2A18; 
  padding-bottom: 50px;
}

.offer-box:nth-child(2),
.offer-box:nth-child(3) {
  padding-top: 65px;
}

.offer-text-box h3 {
  font-size: 24px;
  margin-bottom: 33px;
}

.offer-text-box {
  margin-right: 123px;
}

.offert-right-container {
  margin-bottom: -4px;
}

.offert-right-container img {
  margin-right: -159px;
}

.before-after-examples-box {
  display: flex;
  justify-content: space-between;
}

.before-after-examples-box div {
  border: 1px solid #3C2A18;
}

.before-after-examples-box div div {
  padding: 26px 23px 26px 23px;
  border: none;
}

.before-after-examples-box div div p:nth-child(1) {
  margin-bottom: 11px;
}