.container-testimonial {
  position: relative;
}

.container-testimonial::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .1;
  z-index: -3;
  background-image: url("../../assets/texture_background.png");
}

.container-testimonial::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1122px;
  height: 100%;
  z-index: -2;
  background-image: url("../../assets/line_background.svg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
}


.testimonial-section {
  max-width: 1122px;
  margin: 0 auto;
  padding: 102px 0;
}

.testimonial-section h2 {
  text-align: center;
  margin-bottom: 24px;
}

.paragraf-testimonial {
  text-align: center;
  padding: 0 160px;
}

.container-testimonial {
  border-bottom: 1px #3C2A18 solid;
  border-top: 1px #3C2A18 solid;
}

.testimonials-box {
  padding: 0 30px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 173px;
  grid-row-gap: 86px;
}

.testimonial-icon {
  margin-bottom: 27px;
}

.testimonial-box p {
  margin-bottom: 23px;
}

.testimonial-author {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
}

@media only screen and (max-width: 1200px)  {
  .testimonial-section {
    padding: 102px 20px;
  }
}

@media only screen and (max-width: 1060px)  {
  .testimonials-box {
    grid-column-gap: 120px;
    grid-row-gap: 50px;
  }
}

@media only screen and (max-width: 887px)  {
  .testimonials-box {
    grid-column-gap: 80px;
    grid-row-gap: 20px;
  }
}

@media only screen and (max-width: 887px)  {
  .testimonials-box {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 700px)  {
  .paragraf-testimonial {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 600px)  {
  .testimonials-box {
    grid-template-columns: 1fr;
  }
}